<div class="row">
	<div class="col-md-4" style="margin-top: 2em; margin-left:2em">

		<!--REINICIAR-->
		<span ng-show="quemComeca != undefined">
			<button class="btn btn-success" ng-click="iniciar()" style="width: 15.4em">Recomeçar</button>
			<br>
			<br>
		</span>

		<!--QUEM COMECA-->
		<label>Quem Começa?</label>
		<select ng-model="quemComeca" ng-change="iniciar()">
		  <option value="humano" >Humano</option>
		  <option value="computador">Computador</option>
		</select>

		<!--LEGENDA-->
		<br>
		<label>Humano: <b style="color:red">Vermelho</b> </label>
		<br>
		<label>Computador: <b style="color:blue">Azul</b></label>
		<br>
		<!--MOSTRA VALOR TABULEIRO-->
		<label><b>Pontuação do tabuleiro: {{valorDoTabuleiroAtual}}</b></label>
		<br>
		<!--MOSTRA NUMERO DE ITERACAO-->
		<label><b>Iteração: {{mostraIteracao}}</b></label>

		<!--JOGADOR DA VEZ-->
		<div class="">
			<h2>Jogador da vez: {{jogadorDaVez}}</h2>
		</div>

		<!--VENCEDOR HUMANO-->
		<div ng-if="vencedor === 1" style="color:red">
			<h1><b>Humano venceu!</b></h1>
			<!-- <h2><b>O impossível aconteceu!!!</b></h2> -->
		</div>

		<!--VENCEDOR COMPUTADOR-->
		<div ng-if="vencedor === 0" style="color:blue">
			<h1><b>Computador venceu!</b></h1>
			<!-- <h2><b>Haha, humano burro perdeu!</b></h2> -->
		</div>

		<!--EMPATE-->
		<div ng-if="vencedor == 'empate'" style="color:green">
			<h1><b>Empate!</b></h1>
		</div>

		<!--ERRO COLUNA-->
		<div ng-if="colunaCheia" style="color:red">
			<h4><b>Essa coluna esta cheia!</b></h4>
		</div>
			
	</div>

	

	<!--TABULEIRO-->
	<div class="col-md-6" style="margin-top: 2em; margin-left:2em">
		<div ng-repeat="coluna in tabuleiro track by $index">
			<div style="position: absolute; margin-left:{{$index*5}}em">
				<button 
					class="btn btn-info" 
					ng-click="jogadaHumano($index)"
					ng-disabled="jogadorDaVez == 'computador' || vencedor != null || jogadorDaVez === null"
					style="width:4em;margin-left:0.5em; margin-bottom:0.5em;" 
				>
					+
				</button>
				<div ng-repeat="linha in tabuleiro[$index] track by $index">
					 <div class="celula">

						<span ng-show="linha == 1">
							<svg height="60" width="60">
							  <circle cx="33" cy="33" r="20" stroke="black" stroke-width="1" fill="red" />
							</svg>
						</span>

						<span ng-show="linha == 0">
							<svg height="60" width="60">
							  <circle cx="33" cy="33" r="20" stroke="black" stroke-width="1" fill="blue" />
							</svg>
						</span>
					</div>
 				</div>
			</div>
			
		</div>
	</div>
</div>